<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>ServletDemoByEclipse</display-name>
  <welcome-file-list>
    <welcome-file>login.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>HelloServlet</servlet-name>
    <servlet-class>com.pot.service.server</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HelloServlet</servlet-name>
    <url-pattern>/Pot</url-pattern>
  </servlet-mapping>
  <!--  -->
  <servlet>
    <servlet-name>Json</servlet-name>
    <servlet-class>com.pot.util.Gsons</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Json</servlet-name>
    <url-pattern>/json</url-pattern>
  </servlet-mapping>
  <!-- 食物菜单 -->
  <servlet>
    <servlet-name>FoodMenu</servlet-name>
    <servlet-class>com.pot.util.SetFoodMenu</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FoodMenu</servlet-name>
    <url-pattern>/foodmenu</url-pattern>
  </servlet-mapping> 
  <!-- 食物菜单详情 --> 
  <servlet>
    <servlet-name>FoodDetail</servlet-name>
    <servlet-class>com.pot.util.SetFoodDetail</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FoodDetail</servlet-name>
    <url-pattern>/fooddetail</url-pattern>
  </servlet-mapping>
  <!-- 解析URL --> 
  <servlet>
    <servlet-name>UrlParseHandler</servlet-name>
    <servlet-class>com.pot.util.UrlParseHandler</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UrlParseHandler</servlet-name>
    <url-pattern>/urlparse</url-pattern>
  </servlet-mapping>
  <!-- Dwr服务器推送 --> 
  <listener>  
    <listener-class>org.directwebremoting.servlet.DwrListener</listener-class>  
  </listener> 
  
  <servlet>
    <servlet-name>dwr-invoker</servlet-name>
    <servlet-class>org.directwebremoting.servlet.DwrServlet</servlet-class>
    	<init-param>
          <param-name>debug</param-name>
          <param-value>true</param-value>
      	</init-param>
    	<!-- 使用服务器推技术 反转ajax -->
    	<init-param>
    		<param-name>activeReverseAjaxEnabled</param-name>
    		<param-value>true</param-value>
    	</init-param>
    	<!-- 能够从其它域进行请求 -->
    	<init-param>
    		<param-name>crossDomainSessionSecurity</param-name>
    		<param-value>false</param-value>
    	</init-param>
    	<!-- 允许远程js -->
    	<init-param>
    		<param-name>allowScriptTagRemoting</param-name>
    		<param-value>true</param-value>
    	</init-param>
    	
    	<load-on-startup>1</load-on-startup> 
  </servlet>
  <servlet-mapping>
    <servlet-name>dwr-invoker</servlet-name>
    <url-pattern>/dwr/*</url-pattern>
  </servlet-mapping>

  <!-- 输出控制信息 http --> 
  <servlet>
    <servlet-name>DwrInfoOutput</servlet-name>
    <servlet-class>com.pot.util.DwrInfoOutput</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DwrInfoOutput</servlet-name>
    <url-pattern>/setinfo</url-pattern>
  </servlet-mapping>
  
  <!-- 上传UpdateRecipesDetail --> 
  <servlet>
    <servlet-name>UpdateRecipesDetail</servlet-name>
    <servlet-class>com.pot.util.UpdateRecipesDetail</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateRecipesDetail</servlet-name>
    <url-pattern>/updaterecipesdetail</url-pattern>
  </servlet-mapping>
   
<!-- 动态GetDynamicRecipes --> 
  <servlet>
    <servlet-name>GetDynamicRecipes</servlet-name>
    <servlet-class>com.pot.util.GetDynamicRecipes</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetDynamicRecipes</servlet-name>
    <url-pattern>/dynamicrecipes</url-pattern>
  </servlet-mapping>
  
  <!-- 静态GetDynamicRecipes --> 
  <servlet>
    <servlet-name>GetStaticRecipes</servlet-name>
    <servlet-class>com.pot.util.GetStaticRecipes</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetStaticRecipes</servlet-name>
    <url-pattern>/staticrecipes</url-pattern>
  </servlet-mapping>
  
  <!-- 获得云食谱GetRecipesDetail --> 
  <servlet>
    <servlet-name>GetRecipesDetail</servlet-name>
    <servlet-class>com.pot.util.GetRecipesDetail</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetRecipesDetail</servlet-name>
    <url-pattern>/recipesdetail</url-pattern>
  </servlet-mapping>
</web-app>